@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';


.link-hover:hover{
    color: #000000!important;
    text-decoration: underline;
}

.sm-container {
    width: 800px;
    margin: 0 auto;
}

.text-1 {
    font-size: 3rem;
}

.text-2 {
    font-size: 2.5rem;
}

.text-3 {
    font-size: 2rem;
}

.text-4 {
    font-size: 1.5rem;
}

.text-5 {
    font-size: 1.25rem;
}

.text-6 {
    font-size: 0.8rem;
}

.text-logo {
    font-size: 5.2rem;
}
.parrafo {
    font-size: unset;
}

@media (max-width: 768px) {
    #logo {
        font-size: 1rem!important;
    }
    footer {
        font-size: 0.8rem!important;
    }
    .normal-avatar {
        width: 30px!important;
        height: 30px!important;
    }
    .sec-dashboard {
        font-size: 0.8rem!important;
    }
    .text-1 {
        font-size: 1.5rem!important;
    }
    .text-3 {
        font-size: 1rem!important;
    }
    .text-5 {
        font-size: 1rem!important;
    }
    .text-4 {
        font-size: 0.9rem!important;
    }
    .text-logo {
        font-size: 2rem!important;
    }
    .sec-indexpost {
        font-size: 0.8rem!important;
    }
    .parrafo {
        font-size: 0.8rem!important;
    }
}

#hero {
    min-height: calc(100vh - 10rem);
    background-image: url(/img/hero.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.ck-editor__editable_inline {
    height: 300px;
}

img {
    max-width: 100%;
}

.normal-avatar {
    width: 40px;
    height: 40px;
}

.swiper {
    width: 100%;
}


#like:hover {
    color: red;
    cursor: pointer;
}

#share:hover {
    color: blue;
    cursor: pointer;
}

#togglePassword {
    float: right;
    margin-top: -38px;
    position: relative;
    font-size: 1.2rem;
    margin-right: 0.4rem;
    cursor: pointer;
}

.share-content {
    position: relative;
}

.share-btn {
    position: relative;
    border: none;
    padding: 0;
    background: none;
    z-index: 1;
}

.like-btn {
    border: none;
    padding: 0;
    background: none;
}

.share-options {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 400px;
    padding: 2rem;
    background-color: white; 
    border: 1px solid #ccc; 
    z-index: 10;
    border-radius: 0.5rem;
    display: none;
}

.share-content:hover .share-options {
    display: block;
}

#btn-copy {
    border: none;
}

#input-cp {
    border-radius: 0.3rem;
}
#msg-copy {
    display: none;
}